#bin
Singleton/bin/*
SimpleFactory/bin/*
Factory/bin/*
AbstractFactory/bin/*
Adapter/bin/*
Prototype/bin/*

#obj
Singleton/obj/*
SimpleFactory/obj/*
Factory/obj/*
AbstractFactory/obj/*
Adapter/obj/*
Prototype/obj/*

#other
.vscode/*