#bin
Singleton/bin/*
SimpleFactory/bin/*
Factory/bin/*
AbstractFactory/bin/*
Adapter/bin/*
Prototype/bin/*
Builder/bin/*
Bridge/bin/*
Proxy/bin/*
Flyweight/bin/*
Facade/bin/*

#obj
Singleton/obj/*
SimpleFactory/obj/*
Factory/obj/*
AbstractFactory/obj/*
Adapter/obj/*
Prototype/obj/*
Builder/obj/*
Bridge/obj/*
Proxy/obj/*
Flyweight/obj/*
Facade/obj/*

#other
.vscode/*